.detailContainer {
    padding: 50px;
}

.budgetContainer {
    padding: 30px;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.total {
    margin-bottom: 15px;
    font-weight: bold;
    color: #333333;
    font-size: 22px;
}

.moneyInfo {
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #dddddd;
    margin-top: 15px;
}

.accountBank {
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #007bff;
}

.accountNumber {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #555555;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleContainer {
    display: flex;
    align-items: center;
}
.title {
    font-size: 25px;
    color: #696969;
    margin-right: 10px;
}
.sendButton {
    border: none;
    font-size: 16px;
    background-color: yellow;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sendButton:hover {
    background-color: rgb(230, 230, 1);
}

.filterContainer {
    align-items: right;
}
.filterSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: #333;
}

.filterSelect:focus {
    outline: none;
}

.transactionItem {
    display: flex;
    padding: 20px 30px;
    margin: 20px 0;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.transactionItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.date,
.receiver,
.money {
    flex: 1;
    align-self: center;
}

.receiver {
    text-align: center;
    font-weight: 500;
    color: #555;
}

.money {
    text-align: right;
    font-weight: 600;
    color: #333;
}

.deposit,
.transfer {
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;
}
.analyzeButton {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: inherit;
    float: right;
}
.chartIcon:hover {
    color: red;
}
