.mainContainer {
    margin: 50px;
}

.mainTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #333333;
}

.accountContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.accountContainer:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.accountOwner,
.bankInfo,
.accountTotal {
    flex: 1;
}

.accountOwner {
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}

.bankInfo {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #888888;
}

.accountBank {
    margin-right: 10px;
    font-weight: 600;
}

.accountTotal {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    text-align: right;
}

.createAccount {
    float: right;
    border: none;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createAccount:hover {
    background-color: #0056b3;
}

.toCreate {
    text-decoration: none;
    display: block;
    text-align: right;
    margin-top: 20px;
}

.deleteAccount {
    position: absolute;
    padding: 5px;
    top: 0;
    right: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #ff4d4f;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.deleteAccount:hover {
    color: #ff0000;
    background-color: darkgray;
    transform: scale(1.1);
}

.toDetail {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

@media (max-width: 768px) {
    .bankInfo {
        display: none;
    }

    .accountTotal {
        font-size: 18px;
    }

    .accountOwner {
        font-size: 18px;
    }
}
