.footer {
  padding: 40px;
  background-color: #f2f2f2;
}

.footer.dark {
  background-color: #191d24;
  color: #fff;
}

.container {
  display: grid;
  grid-template-rows: 20px 24px 24px 20px;
  grid-gap: 40px;
  text-align: center;
}

.brand {
  font-size: 14px;
}
.payLink {
  justify-content: center;
  display: flex;
}
.payment {
  margin-right: 8px;
}
.social {
  display: flex;
  justify-content: center;
}
.socialIcon {
  filter: invert(1);
}
a {
  margin-right: 15px;
}
