@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR", sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.menu {
  top: 112px;
}

.drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}

.drawer-toggle:checked + .drawer-content {
  max-height: 100vh !important;
}

.js-searchedItem:active span {
  color: white !important;
}
